
.card {
    border: none;
    margin-bottom: 2em;
}

img,
.card-img-top {
    border-radius: 0em;
}

@media (min-width: 200px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 500px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
    break-inside: avoid;// nguyên khối trong card không bị cắt giữ
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    }

    a {
        color: initial;

        &:hover {
            text-decoration: initial;
        }
    }

    .text-muted i {
        margin: 0 10px;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #242424;
}

h1, p {
    margin: 0 0 1em 0;
}

.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}

.wrapper > * {
    background-color: #fafafa;
    color: #242424;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.header {
    padding: 24px;
}

.header, .footer {
    grid-column: 1 / -1;
    clear: both;
}

.content {
    padding-right: 40px;
    padding-left: 40px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 16px;
}

.panel {
    margin-left: 5px;
    margin-right: 5px;
}

.panel-img {
    width: 100%;
    height: 80%;
}

.tall-panel {
    grid-row-end: span 2;
}

@media (max-width: 1200px) {
    .content {
        padding-right: 72px;
        padding-left: 72px;
        width: 100%;
        grid-template-columns: repeat(3, minmax(220px, 1fr) );
        grid-auto-rows: minmax(200px, auto);
    }
}

@supports (display: grid) {
    .wrapper > * {
        width: auto;
        margin: 0;
    }
}