@using App.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";

    ViewData["Title"] = "Xóa database";

}
<p>Có chắc muốn xóa?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">
        Xóa DB
    </button>
    <a class="btn btn-info" asp-action="Index">Thoát</a>
</form>

@{
    _AdminSidebarService.SetActive("DbManage", "Index", "Database");
}
@section Sidebar {
    @Html.Raw(_AdminSidebarService.renderHtml());
}