@{

    ViewData["Title"] = "Xóa database";

}
<h1>@ViewData["Title"]</h1>
<p>Có chắc muốn xóa?</p>

<form method="post">
    <button type="submit" class="btn btn-danger"> 
        Xóa DB
    </button>
    <hr>
    <a asp-action="Index">Quản lý</a>
</form>