body {
  background: #fff;
  color: #1d1d1f;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.app-navbar {
  background: rgba(0, 0, 0, 0.8);
  /* _dropdown.scss:36 */
}
.app-navbar .text-dark {
  color: #b9c3ce !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: #a57dea;
}
.app-navbar .navbar-brand:hover {
  color: #d727da !important;
}
.app-navbar .dropdown-toggle {
  border-color: #a562ad;
  color: #ae84b3;
}
.app-navbar .dropdown-menu-right {
  right: 0;
  left: auto;
}

/*Contact sectiom*/
.content-header {
  font-family: "Oleo Script", cursive;
  color: #fcc500;
  font-size: 45px;
}

.section-content {
  text-align: center;
}

#contact {
  font-family: "Teko", sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 90%;
  /*width: 100vw;*/
  /*height: 550px;*/
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186, #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.contact-section {
  padding-top: 40px;
}

.contact-section .col-md-6 {
  /*width: 50%;*/
  max-width: 100%;
}

.form-line {
  border-right: 1px solid #B29999;
}

.form-group {
  margin-top: 10px;
}

label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}

.form-control {
  font-size: 1.3em;
  color: #080808;
}

textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}

::placeholder {
  font-style: italic;
  font-size: 17px;
  color: mintcream;
  padding: 5px;
}

.linetype {
  display: -webkit-box;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 1.6rem;
}

.login-dark {
  height: 1000px;
  background: #475d62 url(../../assets/img/star-sky.jpg);
  background-size: cover;
  position: relative;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.card {
  border: none;
  margin-bottom: 2em;
}

img,
.card-img-top {
  border-radius: 0em;
}

@media (min-width: 200px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 500px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 5;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  break-inside: avoid;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.card a {
  color: initial;
}
.card a:hover {
  text-decoration: initial;
}
.card .text-muted i {
  margin: 0 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #242424;
}

h1, p {
  margin: 0 0 1em 0;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.wrapper > * {
  background-color: #fafafa;
  color: #242424;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.header {
  padding: 24px;
}

.header, .footer {
  grid-column: 1/-1;
  clear: both;
}

.content {
  padding-right: 40px;
  padding-left: 40px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 16px;
}

.panel {
  margin-left: 5px;
  margin-right: 5px;
}

.panel-img {
  width: 100%;
  height: 80%;
}

.tall-panel {
  grid-row-end: span 2;
}

@media (max-width: 1200px) {
  .content {
    padding-right: 72px;
    padding-left: 72px;
    width: 100%;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    grid-auto-rows: minmax(200px, auto);
  }
}
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}