@using App
@using App.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="e:\project\du_an\app\app\areas\files\views\_viewimports.cshtml">e:\project\du_an\app\app\areas\files\views\_viewimports.cshtml</a>