@using App.Models.Blog
@model IEnumerable<App.Models.Blog.Post>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Các bài viết của Win Win";
}





<h1>@ViewData["Title"]</h1>

    <div class="card-columns">
        @{
            var count = Model.Count();

        }
        @foreach (var item in Model)
        {
            <div class="card" >
                <a asp-area="Blog" asp-controller="ViewPost" asp-action="Details" asp-route-postslug="@item.Slug" class="text-decoration-none">
                    <img class="card-img-top" src="/contents/Post_Thumbnail/@item.Thumbnail" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">@item.Title</h6>
                    </div>
                </a>
            </div>

        }
    </div>


   